<html>
	<head>
		<title> Corey Fifles, librarian extraordinaire! </title>
	</head>
	<body>
		<div>
			<h1> <strong>Corey Lee Fifles, MSIS<br />Electronic Portfolio <br /> Spring 2016 <br /> The University of Texas at Austin <br /> The School of Information</strong></h1>
		</div>
		<div>
			<h2> About me </h2>
		</div>
		<div>
			<p> I'm awesome, and that's it!</p>
		</div>
		<div>	
					
		<h3> Resume </h3>
		</div>
		<div>
		<p>Hire me I'm the best!!!<p/>
		</div>
			<h4>Additional Projects </h4>
		<p>brag brag brag<p/>
	</body>
</html>

